@model Tuple<List<Portfoy.Models.TblContact>, List<Portfoy.Models.TblConnection>, List<Portfoy.Models.TblSocialMedia>>

<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Bana Ulaşın</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">
                    Merhaba de
                </a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                @foreach (var item in Model.Item2)
                {
                    <p class="mb-2">Konum :</p>
                    <h3 class="fw-bold">@item.Location / @item.Adress</h3>
                    <hr class="w-100">
                    <p class="mb-2">Beni Ara:</p>
                    <h3 class="fw-bold">@item.Number</h3>
                    <hr class="w-100">
                    <p class="mb-2">Mail :</p>
                    <h3 class="fw-bold">@item.Mail</h3>
                    <hr class="w-100">
                    <p class="mb-2">Beni Takip Et:</p>
                }

            <div class="d-flex pt-2">
                @foreach (var item in Model.Item3)
                {
                    <a class="btn btn-square btn-primary me-2" href="@item.Url"><i class="@item.ImageUrl"></i></a>
                }


            </div>
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <form method="post" action="@Url.Action("ContactPartial", "Default")">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="NameSurname" placeholder="Adınız " required>
                                <label for="NameSurname">Adınız ve Soaydınız </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Mail" placeholder="Mail Adresiniz" required>
                                <label for="Mail">Mail Adresiniz</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Title" placeholder="Konu " required>
                                <label for="Title">Konu</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Mesajınızı giriniz" id="Message" required style="height: 100px"></textarea>
                                <label for="Message">Mesaj</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">Mesajı Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
