
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("/Views/Default/HeadPartial.cshtml")

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Partial("/Views/Default/NavbarPartial.cshtml")
    <!-- Navbar End -->
    <!-- Header Start -->
    @Html.Action("HeaderPartial")
    <style>
        #myImage {
            width: 668px; /* Resmi genişliği ekran genişliğine uyacak şekilde ayarlayın */
            height: 583px; /* Otomatik olarak yükseklik hesaplayın, oranı koruyacak şekilde */
            max-width: 200%; /* Eğer resim ekran genişliğinden daha büyükse, en fazla ekran genişliği kadar olsun */
            display: block; /* Resmi blok olarak gösterin, yanı diğer içeriklerle hizalanması daha kolay olacaktır */
            margin: 0 auto; /* Resmi yatayda merkezlemek için otomatik margin kullanın */
        }
    </style>
    <!-- Header End -->
    <!-- About Start -->
    @Html.Action("AboutPartial")
    <!-- About End -->

    <!-- Expertise Start -->
    @Html.Action("ExpertisePartial")
    <!-- Expertise End -->

    <!-- Projects Start -->
    @Html.Action("ProjectsPartial")
    <!-- Projects End -->

    <!-- Testimonial Start -->
    @Html.Action("TestimonialPartial")
    <!-- Testimonial End -->

    <!-- Contact Start -->
    @Html.Action("ContactPartial")
    <!-- Contact End -->

    <!-- Copyright Start -->
    @Html.Action("CopyrightPartial")
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    @Html.Action("JavaScriptPartial")

</body>

</html>