@model List<Portfoy.Models.TblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<br />
<br />
<br />

<div>
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Projelerim</h2>
            </div>
            <div>
                <!-- Proje ekle butonu sağ tarafta yer alacak -->
                <a class="btn btn-success float-right" href="/Project/CreateProject">Proje ekle</a>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Proje Adı</th>
                            <th>Proje Kategorisi</th>
                            <th>Proje Link</th>
                            <th>Durum</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.ProjectName</td>
                                <td>@item.ProjectCategory</td>
                                <td><a href="@item.ProjectUrl" class="btn btn-outline-success">@item.ProjectName Githup'da Aç</a></td>
                                <td>@item.Durum</td>
                                <td>
                                    <a href="/Project/DeleteProject/@item.ID" class="btn btn-outline-danger">
                                        @if (item.Durum.HasValue && item.Durum.Value)
                                        {
                                            <span style="color: red;">Sil</span>
                                        }
                                        else
                                        {
                                            <span style="color: orange;"><i class="fa fa-warning"></i> Geri Al</span>
                                        }
                                    </a>
                                </td>
                                <td><a href="/Project/UpdateProject/@item.ID" class="btn btn-success">Güncelle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>