@model List<Portfoy.Models.TblProfile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<br />
<br />
<br />

<div>
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Profil</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Başlık</th>
                            <th>Ad Soayad</th>
                            <th>Açıklama</th>
                            <th>Githup Url</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Header</td>
                                <td>@item.NameSurname</td>
                                <td>@item.Title</td>
                                <td>@item.GtihupUrl</td>
                                <td><a href="#" class="btn btn-danger">Sil</a></td>
                                <td><a href="#" class="btn btn-success">Güncelle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



