@model List<Portfoy.Models.TblEducation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">
                       <i class="fa fa-graduation-cap"></i>
                        <h5 class="card-title"></h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <strong>Eğitim Durumu: </strong> @item.Title
                        </div>
                        <br />
                        <div>
                            <strong>Okul Adı: </strong> @item.EducationName
                        </div>
                        <br />
                        <div>
                            <strong>Başlangıç Tarihi: </strong> @item.StartingDate
                        </div>
                        <br />
                        <div>
                            <strong>Bitiş Tarihi: </strong> @item.EndDate
                        </div>
                        <br />
                        <div>
                            <strong>Durum: </strong><strong style="color: @(item.Durum == true ? "red" : "green")">@Html.Raw(item.Durum == true ? "Devam Ediyor " : "Bitirdi")</strong>
                        </div>
                        <br />
                        
                    </div>
                    <div class="card-footer">
                        <a href="/Education/CreateEducation/@item.ID" class="btn btn-info">Yeni Eğitim Ekle</a>
                        <a href="/Education/UpdateEducation/@item.ID" class="btn btn-success">Güncelle</a>
                        <a href="/Education/DeleteEducation/@item.ID" class="btn btn-danger">Sil</a>
                    </div>
                </div>
            </div>
            if ((Array.IndexOf(Model.ToArray(), item) + 1) % 3 == 0)
            {
                <div class="w-100"></div> <!-- Her üçüncü öğeden sonra yeni bir satıra geçmek için -->
            }
        }
    </div>
</div>

