@model List<Portfoy.Models.TblTestimonial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<br />
<br />
<br />

<div>
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Referanslarım</h2>
            </div>
            <div>
                <!-- referans medya ekle butonu sağ tarafta yer alacak -->
                <a class="btn btn-success float-right" href="/Testimonial/CreateTestimonial">Referans  ekle</a>
            </div>
        </div>

        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Adı Soyadı</th>
                            <th>Açıklama</th>
                            <th>Pozisyon</th>
                            <th>Fotoğraf Url</th>
                            <th>Durum</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.NameSurname</td>
                                <td>@item.Description</td>
                                <td>@item.Position</td>
                                <td>@item.ImageUrl</td>
                                <td>@item.Durum</td>
                                <td>
                                    <a href="/Testimonial/DeleteTestimonial/@item.ID" class="btn btn-outline-danger">
                                        @if (item.Durum.HasValue && item.Durum.Value)
                                        {
                                            <span style="color: red;">Sil</span>
                                        }
                                        else
                                        {
                                            <span style="color: orange;"><i class="fa fa-warning"></i> Geri Al</span>
                                        }
                                    </a>
                                </td>
                                <td><a href="/Testimonial/UpdateTestimonial/@item.ID" class="btn btn-success">Güncelle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



