@model List<Portfoy.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<br />
<br />
<br />

<div>
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Sosyal Medya Hesaplarım</h2>
            </div>
            <div>
                <!-- sosyal medya ekle butonu sağ tarafta yer alacak -->
                <a class="btn btn-success float-right" href="/SocialMedia/CreateSocialMedia">Sosyal Medya  ekle</a>
            </div>
        </div>


        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sosyal Medya Adı</th>
                            <th>Url</th>
                            <th>Durum</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td><a href="@item.Url" class="btn btn-outline-dark fa fa-share ">@item.Name Sayfasına Git </a></td>
                                <td>@item.Durum</td>
                                <td>
                                    <a href="/SocialMedia/DeleteSocialMedia/@item.ID" class="btn btn-outline-danger">
                                        @if (item.Durum.HasValue && item.Durum.Value)
                                        {
                                            <span style="color: red;">Sil</span>
                                        }
                                        else
                                        {
                                            <span style="color: orange;"><i class="fa fa-warning"></i> Geri Al</span>
                                        }
                                    </a>
                                </td>
                                <td><a href="/SocialMedia/UpdateSocialMedia/@item.ID" class="btn btn-success">Güncelle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

