
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<br />
<br />
<br />

<div class="col-md-12">
    <div class="full">
        <div class="padding_infor_info">
            <div class="alert alert-primary" role="alert">Kategori Sayısı : @ViewBag.categoryCount</div>

            <div class="alert alert-secondary" role="alert">Proje Sayısı : @ViewBag.project</div>

            @*<div class="alert alert-warning" role="alert">Son Eklenen Proje : </div>*@

            <div class="alert alert-danger" role="alert">.Net Proje Sayısı : @ViewBag.netProject</div>

            <div class="alert alert-info" role="alert">PHP proje sayısı : @ViewBag.phpproject</div>

            <div class="alert alert-success" role="alert">Toplam Mesaj Sayısı : @ViewBag.messgaCount</div>

            <div class="alert alert-warning" role="alert">Okunmamış Mesaj Sayısı : @ViewBag.isreadCount</div>

            <div class="alert alert-danger" role="alert">Okunmuş Mesaj Sayısı : @ViewBag.OfmessgaCount</div>

            <div class="alert alert-light" role="alert">Toplam Yetenek sayısı : @ViewBag.skills</div>

            <div class="alert alert-dark" role="alert">Referans Sayısı : @ViewBag.referance</div>

        </div>
    </div>
</div>